.calendar tr td:nth-child(n+2) {width: 25px}
.calendar tr:nth-child(n+2) td:nth-child(n+2) {cursor: pointer}
.calendar td {border: black 1px solid;}
.calendar td.free {background-color:#e9e9e9}
.calendar td.date {background-color:#f9f9ac}
.calendar td.date.weekend {background-color:#dfdf88}
.calendar td.booked {background-color:#6ed56e}
.calendar td.booked.first-day {
    background:#ffb4c1;
    background:linear-gradient(to right, #e9e9e9, #e9e9e9, #e9e9e9, #ffb4c1, #ffb4c1);
}
.calendar td.booked.last-day {
    background:#ffb4c1;
    background:linear-gradient(to left, #e9e9e9, #e9e9e9, #e9e9e9, #ffb4c1, #ffb4c1);
}
.calendar td.booked.first-day.last-day {
    background:#ffb4c1;
    background:linear-gradient(to left, #ffb4c1, #e9e9e9, #e9e9e9, #e9e9e9, #ffb4c1);
}

.bookings td {border: black 1px solid;}
.bookings tr:nth-child(n+2) {cursor: pointer}

.fairs td {border: black 1px solid;}
.fairs tr:nth-child(n+2) {cursor: pointer}

.configs td {border: black 1px solid;}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
    background-image: url(images/sprite.png);
}

#loading div {
    width: 44px;
    height: 44px;
    background: url(images/loading.gif) center center no-repeat;
}

.error {color:red;}